@media only screen and (max-width: 600px){
    .App {
        background-color: #C8D4E6;
        height: 100vh;
    }
    .formulaire{
        height: 90vh;
        width:95vw ;
        margin: auto;
        margin-top: 5vw;
        box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.75);
        border-radius: 2vw;
      }

      
      .logo{
        height: 10vw;
      }
      .paiement{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
}